    stages:
      - cleanup
      - clone
      - build
      - deploy
    variables:
      DIR_NAME: "Ansible Roles"

    cleanup_pre:
      tags:
        - mkdocs
      stage: cleanup
      script:
        - if [ -d /home/gitlab-runner/$CI_PROJECT_NAME ]; then sudo rm -rf /home/gitlab-runner/$CI_PROJECT_NAME; fi
    clone_config:
      tags:
        - mkdocs
      stage: clone
      script:
        - git -C /home/gitlab-runner/ clone $CI_REPOSITORY_URL
    build_config:
      tags:
        - mkdocs
      stage: build
      script:
        - sudo su - mkdocs -c "cd /home/gitlab-runner/$CI_PROJECT_NAME/; mkdocs build"
        - if ! [ -d /var/www/base/docs/"$DIR_NAME" ]; then sudo mkdir /var/www/base/docs/"$DIR_NAME"; else sudo rm -rf /var/www/base/docs/"$DIR_NAME"; sudo mkdir /var/www/base/docs/"$DIR_NAME"; fi
    deploy_config:
      tags:
        - mkdocs
      stage: deploy
      script:
        - cd /home/gitlab-runner/$CI_PROJECT_NAME/
        - sudo mv site/* /var/www/base/docs/"$DIR_NAME"
    cleanup_post:
      tags:
        - mkdocs
      stage: cleanup
      script:
        - sudo rm -rf /home/gitlab-runner/$CI_PROJECT_NAME
      when: always