KLNAGENT_SERVER={{ ksp_server | default('gvc_kav_03.gvc.oao.rzd') }}

KLNAGENT_PORT={{ KLNAGENT_PORT | default(14000) }}

KLNAGENT_SSLPORT={{ KLNAGENT_SSLPORT | default(13000) }}

KLNAGENT_USESSL={{ KLNAGENT_USESSL | default('y') }}

KLNAGENT_GW_MODE={{ KLNAGENT_GW_MODE | default(1) }}
