EULA_AGREED={{ EULA_AGREED | default('Yes') }}
PRIVACY_POLICY_AGREED={{ PRIVACY_POLICY_AGREED | default('Yes') }}
USE_KSN={{ USE_KSN | default('Yes') }}
UPDATER_SOURCE={{ UPDATER_SOURCE | default('SCServer') }}
UPDATE_EXECUTE={{ UPDATE_EXECUTE | default('Yes') }}
KERNEL_SRCS_INSTALL={{ KERNEL_SRCS_INSTALL | default('Yes') }}
IMPORT_SETTINGS={{ IMPORT_SETTINGS | default('Yes') }}
USE_GUI={{ USE_GUI | default('No') }}
ScanMemoryLimit={{ ScanMemoryLimit | default(2048) }}
