#{{ ansible_managed }}
Host_Alias SERVERS = 10.0.0.0/8
Cmnd_Alias AGENTS = /usr/openv/netbackup/bin/bp.start_all, /opt/IBM/ITM/bin/itmcmd agent stop *, /opt/IBM/ITM/bin/itmcmd agent start *, /usr/bin/kesl-control --start-task 6, /usr/bin/kesl-control --app-info, /usr/bin/systemctl start klnagent64, /usr/bin/systemctl restart klnagent64, /usr/bin/systemctl stop klnagent64, /usr/bin/systemctl start kesl-supervisor, /usr/bin/systemctl restart kesl-supervisor, /usr/bin/systemctl stop kesl-supervisor
Cmnd_Alias PROCESSES = /usr/bin/ps -[aefuxw]*, /bin/nice -n [-0-5] *, /bin/kill -s (TERM|KILL) [0-9]*, /usr/bin/kill -s (TERM|KILL) [0-9]*, /usr/bin/killall
Cmnd_Alias NETWORKING = /sbin/route -n, /sbin/ifconfig [-a-z0-9]*, /bin/ping *, /usr/bin/host -(a|t) *, /usr/bin/nmtui, /sbin/iptables -[vnL]*, /sbin/iptables-save *, /usr/sbin/nft list ruleset, /usr/sbin/nft -s list ruleset *
Cmnd_Alias SERVICES = /usr/bin/systemctl status *{% if sudo_services_drive is defined %}{%   for units in sudo_services_drive %}, /usr/bin/systemctl start {{ units }}, /usr/bin/systemctl stop {{ units }}, /usr/bin/systemctl restart {{ units }}{%   endfor %}{% endif %}{% if sudo_services_boot is defined %}{%   for units in sudo_services_boot %}, /usr/bin/systemctl enable {{ units }}, /usr/bin/systemctl disable {{ units }}{%   endfor %}{% endif %}, /usr/bin/systemctl reload
Cmnd_Alias SOFTWARE = /usr/bin/yum, /usr/bin/dnf, /usr/bin/systemctl
Cmnd_Alias SMENA =  /sbin/reboot, /sbin/shutdown -P +[0-9]+ "*", ! /usr/bin/bash
Cmnd_Alias NROOT = /usr/bin/su [!-]*, ! /usr/bin/su *root*
Cmnd_Alias DEBUG = /usr/bin/nmap, /usr/sbin/tcpdump
Cmnd_Alias FILES = /usr/bin/ls, /usr/bin/cat, /usr/bin/grep, /usr/bin/egrep, /usr/bin/stat, /usr/sbin/lsof, /usr/bin/getfacl, /usr/bin/lsattr, /usr/bin/find, !/usr/bin/find *-exec*, !/usr/bin/find *-fprint*, !/usr/bin/find *-ok*
Cmnd_Alias BIN = /usr/sbin/sosreport, /usr/bin/yum update, /usr/bin/dnf upgrade, ! /usr/bin/bash
{% if srules_custom is defined %}{%   for rules in srules_custom %}Cmnd_Alias SRULES = {{ rules }}{%   endfor %}{% endif %} 
smenaptk  SERVERS = NOPASSWD: AGENTS, PROCESSES, NETWORKING, FILES, SERVICES, SMENA, NROOT, BIN{% if srules_custom is defined %}, SRULES{% endif %} 
adminvp0  ALL=(ALL)   NOPASSWD: PROCESSES, NETWORKING, FILES, SOFTWARE, DEBUG, !SERVICES
adminvp1  ALL=(ALL)   NOPASSWD: PROCESSES, NETWORKING, FILES, SERVICES, DEBUG, NROOT, BIN
adminvp2  ALL=(ALL)   NOPASSWD: PROCESSES, NETWORKING, FILES, SERVICES, DEBUG, NROOT, BIN
