@media print {
    @page {
        size: a4 portrait;
        margin: 10mm 10mm 20mm 10mm;
        counter-increment: page;
        font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
        white-space: pre;
        color: grey;
        @bottom-left {
            content: '© Dmitriy Prigoda';
        }
        @bottom-right {
            content: 'Page ' counter(page);
        }
    }
}
