#!/usr/bin/env bash
# Copyright (C) 2019 Dmitriy Prigoda <deamon.none@gmail.com>
# This script is free software: Everyone is permitted to copy and distribute verbatim copies of
# the GNU General Public License as published by the Free Software Foundation, either version 3
# of the License, but changing it is not allowed.

UPDATES_COUNT=0
UPDATES_SEC_COUNT=0

# Set environments
UPDATES_COUNT=$(timeout 30s /usr/bin/yum --debuglevel 2 check-update --quiet 2>/dev/null | grep -v "^$" | wc -l) ;
[[ -z "${UPDATES_COUNT}" ]] && UPDATES_COUNT='0' || UPDATES_COUNT=${UPDATES_COUNT}
UPDATES_SEC_COUNT=$(timeout 30s /usr/bin/yum --debuglevel 2 --security check-update --quiet 2>/dev/null | grep -v "^$" | wc -l) ;
[[ -z "${UPDATES_SEC_COUNT}" ]] && UPDATES_SEC_COUNT='0' || UPDATES_SEC_COUNT=${UPDATES_SEC_COUNT}

# List updates available
grep -P '(^UPDATES_COUNT)' /etc/environment 2>/dev/null ; 
ret_count=$?
grep -P '(^UPDATES_SEC_COUNT)' /etc/environment 2>/dev/null ; 
ret_count=$?

if [ ${ret_count} -ne 0 ]
  then
   echo -e "UPDATES_COUNT=${UPDATES_COUNT}" >> /etc/environment ;
   echo -e "UPDATES_SEC_COUNT=${UPDATES_SEC_COUNT}" >> /etc/environment ;
  else
    sed -i -r "s/.*UPDATES_COUNT.*/UPDATES_COUNT=${UPDATES_COUNT}/" /etc/environment ;
    sed -i -r "s/.*UPDATES_SEC_COUNT.*/UPDATES_SEC_COUNT=${UPDATES_SEC_COUNT}/" /etc/environment ;
fi
