#{{ ansible_managed }}
# First rule - delete all
-D

# Increase the buffers to survive stress events.
# Make this bigger for busy systems
-b 320

## First rule - delete all
-D

## Increase the buffers to survive stress events.
## Make this bigger for busy systems
-b {{ auditd_buffer_size | default(8192) }}

## Set failure mode to syslog.
# 0=Silent
# 1=printk, print failure message
# 2=panic, halt system
-f {{ auditd_failure_mode | default(1) }}

{% if min_audit is not sameas true %}
## Audit kernel modules
-w /sbin/modprobe -p x -k auditkernel

{% endif %}
## Audit system configuration files
-w /etc/sysconfig/ -p rwa -k auditconf

{% if min_audit is not sameas true %}
## Audit network connections (IPv4, IPv6)
-a exit,always -F arch=b32 -S socket -F auid>=500 -F auid!=4294967295 -F a0=2 -F success=1 -k auditconn
-a exit,always -F arch=b64 -S socket -F auid>=500 -F auid!=4294967295 -F a0=2 -F success=1 -k auditconn
-a exit,always -F arch=b32 -S socket -F auid>=500 -F auid!=4294967295 -F a0=10 -F success=1 -k auditconn
-a exit,always -F arch=b64 -S socket -F auid>=500 -F auid!=4294967295 -F a0=10 -F success=1 -k auditconn

{% endif %}
## Audit create file as root
-a exit,always -F arch=b32 -F uid=0 -S creat -k audit-rootfile
-a exit,always -F arch=b64 -F uid=0 -S creat -k audit-rootfile

{% if min_audit is not sameas true %}
## Audit open file as users account 
-a exit,always -F arch=b32 -F auid>=1000 -S open -k audit-userfile
-a exit,always -F arch=b64 -F auid>=1000 -S open -k audit-userfile

{% endif %}
{% if min_audit is not sameas true %}
## Unauthorized Access (unsuccessful) 
-a exit,always -F arch=b32 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EACCES -F auid>=500 -F auid!=4294967295 -k auditfaccess
-a exit,always -F arch=b32 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EPERM -F auid>=500 -F auid!=4294967295 -k auditfaccess
-a exit,always -F arch=b64 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EACCES -F auid>=500 -F auid!=4294967295 -k auditfaccess
-a exit,always -F arch=b64 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EPERM -F auid>=500 -F auid!=4294967295 -k auditfaccess

{% endif %}
{% if min_audit is not sameas true %}
## Access to docker 
-w /usr/bin/docker -p rwxa -k auditdocker

{% endif %}
## Sudoers file changes 
-w /etc/sudoers -p wa -k sudo_modification

## Passwd  modificatons
-w /usr/bin/passwd -p x -k passwd_modification

{% if min_audit is not sameas true %}
## Tools to edit group and users
-w /usr/sbin/groupadd -p x -k group_modification
-w /usr/sbin/groupmod -p x -k group_modification
-w /usr/sbin/useradd -p x -k user_modification
-w /usr/sbin/usermod -p x -k user_modification
-w /usr/sbin/adduser -p x -k user_modification

{% endif %}
## Changes to network files
-w /etc/hosts -p wa -k network_modifications
-w /etc/sysconfig/network -p wa -k network_modifications
-w /etc/networks/ -p wa -k network 
-a exit,always -F dir=/etc/NetworkManager/ -F perm=wa -k network_modifications

## Audit log delete
-a always,exit -F arch=b32 -S rmdir -S unlink -S unlinkat -S rename -S renameat -F dir=/var/log -k deletelog
-a always,exit -F arch=b64 -S rmdir -S unlink -S unlinkat -S rename -S renameat -F dir=/var/log -k deletelog

## Audit log access
-a always,exit -F arch=b32 -S rename -S renameat -S truncate -S chmod -S setxattr -S lsetxattr -S removexattr -S lremovexattr -F exit=-EACCES -F dir=/var/log -k accesslog
-a always,exit -F arch=b64 -S rename -S renameat -S truncate -S chmod -S setxattr -S lsetxattr -S removexattr -S lremovexattr -F exit=-EACCES -F dir=/var/log -k accesslog

## Audit executive command 
# As root
-a exit,always -F arch=b64 -F euid=0 -F auid!=4294967295 -S execve -k rootcmd
-a exit,always -F arch=b32 -F euid=0 -F auid!=4294967295 -S execve -k rootcmd
# As users
-a exit,always -F arch=b64 -F euid>=1000 -S execve -k usercmd
-a exit,always -F arch=b32 -F euid>=1000 -S execve -k usercmd

{% if auditd_custom_rules is defined %}
## Audit other system calls
{{ auditd_custom_rules | join('\n') }}

{% endif %}
## Make the configuration immutable
-e {{ auditd_enable_flag | default(2) }}
